<div class="information">
    <em>Будь ласка переконайтеся у введенні вершин опукого багатокутника</em>
    <h2>{{figure.type}}</h2>
    <h4>{{figure.message}}</h4>

    <div *ngIf="figure.area && figure.perimeter">
        <p>Площа: {{figure.area}}</p>
        <p>Периметр: {{figure.perimeter}}</p>
    </div>
</div>
