form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
}

label, input, button {
    margin: 8px 0px 9px 0px;
}

label {
    margin-left: 8px;
}

input, button {
    padding: 6px;
    font-size: 17px;
    border-radius: 7px;
}

input:invalid{
    border: 2px solid #EE6055;
}

input:valid {
    border: 2px solid #60D394;
}

button {
    background-color: #AAF683;
    font-weight: bold;
    color: #EDF6F9;
    border: none;
}

button:disabled {
    background-color: #FF9B85;
}

button:disabled:hover {
    background-color: #EE6055;
}

button:hover {
    background-color: #60D394;
    box-shadow: 2px 2px gray;
}

.error {
    font-size: 10px;
    color: #EE6055;
}