<h3>Заповніть форму для додавання точки</h3>
<form #pointForm="ngForm" (ngSubmit)="addNewPoint(pointForm)">
    <label for="x">X координата:</label>
    <input id = "x" ngModel name="x" ngModel type="number" placeholder="від 0 до 400" min="0" max="400" required #x="ngModel">
    
    <p *ngIf="x.invalid && x.errors.required" class="error">Це поле є обов'язковим</p>
    <p *ngIf="x.invalid && x.errors.min" class="error">Мінімальним значенням для цього поля є 0</p>
    <p *ngIf="x.invalid && x.errors.max" class="error">Максимальне значення для цього поля 400</p>

    <label for="y">Y координата:</label>
    <input name="y" ngModel type="number" placeholder="від 0 до 400" min="0" max="400" required #y="ngModel">

    <p *ngIf="y.invalid && y.errors.required" class="error">Це поле є обов'язковим</p>
    <p *ngIf="y.invalid && y.errors.min" class="error">Мінімальним значенням для цього поля є 0</p>
    <p *ngIf="y.invalid && y.errors.max" class="error">Максимальне значення для цього поля 400</p>

    <button type="submit" [disabled]="pointForm.invalid">Додати</button>
</form>