<div class="main">
    <div class="main-box">
        <app-figure-form (newItemEvent)="addPoint($event)"></app-figure-form>
        <div>
            <h3>Точки фігури:</h3>
            <ol>
                <li *ngFor="let point of points">
                    ({{point.x}}; {{point.y}})
                </li>
            </ol>
            <button class="clear" *ngIf="points.length > 0" (click)="onClearClick()">Очистити</button>
        </div>
    </div>
    <div *ngIf="points.length > 2" class="main-box">
        <app-graph [points]="points"></app-graph>
        <app-information [points]="points"></app-information>
    </div>    
</div>
