.main {
    font-size: 18px;
}
.main-box {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.clear {
    width: 100%;
    padding: 6px;
    font-size: 17px;
    border-radius: 7px;
    background-color: #FFD97D;
    border: none;
}
.clear:hover {
    background-color: #FF9B85;
    box-shadow: 2px 2px gray;
}


.draw {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    border-radius: 15px;
    background-color: #60D394;
    color: white;
    border: none;
}

.draw:hover {
    background-color: #AAF683;
    box-shadow: 2px 2px gray;
}

li {
    margin: 5px;
}